.landing-alert{
    margin-bottom: 0;
}

.page-bg {
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.page-header{
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .filter::after{
        background-color: rgba(0, 0, 0, 0.2);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    &.page-header-small{
        min-height: 65vh !important;
        max-height: 700px;
    }
    &.page-header-xs{
        min-height: 40vh !important;
    }

    &.section-dark{
        .content-center,
        .category-absolute{
            z-index: 1;
        }
    }
}
.page-header .motto{
    text-align: left;
    z-index: 3;
    color: #fff;
    position: relative;

}
.landing-section{
    padding: 100px 0;
    z-index: 1;
}
.section-buttons{
    z-index: 1;
}
.landing-section .btn-simple{
    padding: 0;
}
.landing-section .column{
    padding: 0 75px 0 25px;
}
.team-player .img-circle, .team-player .img-thumbnail{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.contact-form{
    margin: 30px 0px 30px 0px;
    padding: 30px;
    background: #B5A194;
}
.contact-form label{
    margin-top: 15px;
}
.contact-form .btn{
    margin-top: 30px;
    min-width: 250px;
}

.navbar-relative{
    position: relative;
    z-index: 2;
}
#register-navbar a{
    color: #FFF;
}
.register-background .container{
    margin-top: 11%;
    position: relative;
    z-index: 3;
}
.register-footer{
    bottom: 20px;
    position: absolute;
    z-index: 1;
    width: 100%;
    background: transparent;
    color: $white-color;
}
.register-footer .fa-heart{
    color: #EB5E28;
}

.register-card label{
    margin-top: 15px;
}
.register-card .title{
    color: #B33C12;
    text-align: center;
}
.register-card .btn{
    margin-top: 30px;
}
.register-card .forgot{
    text-align: center;
}

.profile-content{
    position: relative;
}
.owner{
    text-align: center;
}
.owner .avatar{
    padding: 15px;
    max-width: 180px;
    margin: -85px auto 0;
    display: inline-block;
}
.owner .name h4{
    margin-top: 10px;
}
.profile-tabs{
    margin: 50px 0;
    min-height: 300px;
}
#following h3{
    margin: 20px 0 40px 0;
}

#follows .follows .unfollow .checkbox{
    margin-top: -15px;
}
#follows .follows h6{
    margin-top: 15px;
}
.follows hr{
    margin-top: 10px;
}
.alert h5{
    // margin-bottom: 10px;
}
.title-brand{
    // max-width: 730px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    display: block;

    .type{
        position: absolute;
        font-size: 20px;
        background: #132026;
        padding: 6px 10px;
        border-radius: 4px;
        top: 0;
        font-weight: 600;
        margin-top: 10px;
        right: -15px;
    }
}

.presentation-title{
    font-size: 7em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
    background: -ms-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.presentation-subtitle{
    font-size: 1.7em;
    color: #FFFFFF;
}

.category-absolute{
    position: absolute;
    text-align: center;
    top: 90vh;
    margin-top: -60px;
    padding: 0 15px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);

    .creative-tim-logo {
        max-width: 140px;
        top: -2px;
        left: 3px;
        position: relative;
    }
}

.fog-low{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -35%;
    margin-bottom: -50px;
    width: 110%;
    opacity: .85;

    img{
        width: 100%;
    }

    &.right{
        margin-left: 30%;
        opacity: 1;
    }
}
.page-header{
    .content-center{
        margin-top: 85px;
    }
}
.moving-clouds{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop{   0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
                        100%{-webkit-transform:translate3d(-50%,0,0);
                        transform:translate3d(-50%,0,0)}
                    }
.following{
    img{
        max-width: 70px;
    }
}


.profile-content{
    & .tab-content{
        & .tab-pane{
            min-height: 200px;
        }
        & #tweets, #connections, #media{
            height: 100%;
        }
    }
}

.darkgrey-bg {
    background-color: #4D4F56 !important;
}

.lightgrey-bg {
    background-color: #AFAEAA !important;
}

.blue-bg {
    background-color: #172a50 !important;
}

.blue-bg-btn {
    background-color: #172a50 !important;
    border: #172a50 !important;;
}

.lightgrey-bg *:not(.btn) {
    color: black;
}

.lightgrey-bg .navbar .nc-icon {
    color: white !important;
}

.darkgrey-bg * {
    color: white !important;
}

.heart {
    color: red !important;
}

ul.card-description {
    padding-inline-start: 16px !important;
    color: white !important;
}

.map-marker {
    color: #0AB6D5 !important;
}

.contact-row {
    justify-content: center;   
}

.contact-row .nc-icon {
    font-weight: 900;
    font-size: 16px;
}

.contact-row .detail {
    font-weight: 500;
}

.table td,
.table th {
    border: unset;
}

.table td {
    font-weight: 500;
}

.table tr:nth-child(even) {
    background-color: #9D948B;
    color: white !important;
  }

.table .map-marker {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 15px;
}

.payment-row i {
    font-weight: 600;
    font-size: 14px;
}

.payment-row {
    font-weight: 400;
    font-size: 1.2em;
}

.plot-title {
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 15px;
}

//maps styles

.gm-style-mtc div {
    background: black !important;
    color: white !important;
}

.gm-control-active,
.gm-fullscreen-control {
    background: black !important;
}

.tabs-container {
    display: flex;
    justify-content: space-between;
}

.tab {
    border: 2px solid black;
    background: transparent !important;
    color: black !important;
}

.tab-selected:focus,
.tab-selected:active {
    border: 2px solid #172a50 !important;
    background-color: #172a50 !important;
    color: white !important;
}

.left-logo {
    width: 40vw;
    height: 53px;
    max-width: 250px;
}

.left-logo .logo {
    width: 100% !important;
    height: 100%;
    object-fit: contain;
    // padding-top: 8px;
}

:focus,
:active {
  outline: none !important;
  box-shadow: unset !important;
}


//entrance gate section

.entrance-gate-section {
    width: 100%;
    height: 100%;
    background: white;
    padding: 45px;
}

@media (max-width: 768px) {
    .entrance-gate-section {
        padding: 10px;
    }
    .entrance-gate {
        padding: 10px !important;
    }
    .entrance-heading {
        font-size: 2em !important;
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }
  }

.entrance-gate {
    width: 100%;
    height: 100%;
    background: black;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

.entrance-gate-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.entrance-heading {
    margin-top: 0.5em;
    font-size: 3em;
    text-align: center;
}

.location-importance-section {
    background: #9D948B;
    padding: 40px 0 40px 0;
    color: white;
    min-height: 500px;
}

.image-container {
    background: black;
    position: absolute;
    padding: 30px 30px 30px 0;
    left: 0;
    top: 40px;
    width: 45%;
    height: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    min-height: 450px;
}

@media (max-width: 768px) {
    .image-container {
        background: black;
        position: absolute;
        padding: 15px 15px 15px 0;
        left: 0;
        top: 30vh;
        width: 45%;
        height: 100%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        min-height: 450px;
    }
  }

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.location-section {
    padding: 40px 0 40px 0;
    color: white;
    margin-bottom: 40px;
}

.location-section .importance {
    background: #B5A194;
    color: white;
    padding: 4em 2.5em 4em 2.5em;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 600px;
}

.location-section .importance .heading {
    color: white;
}
.location-section .importance .important-points {
    color: white;
    font-size: 1.2em;
}

.location-section .importance .paper {
    position: absolute;
    background: #E8E5E0;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    color: black;
    padding: 20px;
}

@media (max-width: 768px) {
    .location-section .importance .paper {
        top: 20px;
        left: 0px;
        box-shadow: unset;
        min-height: 105%;
    }
  }

.map-location-image {
    width: 100%;
    // height: 100%;
    object-fit: contain;
}


.paper .title {
    color: #5D5855 !important;
}

.location-section ul {
    padding-inline-start: 18px !important;
}

.bg-image {
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
    .bg-image {
        min-height: 60vh;
    }
}

.meeraj-gate-text {
    background: black;
    color: white;
    position: absolute;
    top: 140px;
    right: 0;
    padding: 17px 50px 17px 50px;
    text-align: center;
}

@media (max-width: 768px) {
    .meeraj-gate-text {
        background: black;
        color: white;
        position: absolute;
        top: 140px;
        right: 0;
        padding: 8px 15px 8px 15px;
        text-align: center;
    }
  }

.meeraj-gate-text .large {
    font-size: 1.5em;
}

.meeraj-gate-text .small {
    font-size: 1.25em;
}

.gallery-section {
    background: #E8E5E0;
    padding: 50px; 
}

@media (max-width: 768px) {
    .gallery-section{
        padding: 20px; 
    }
  }


.amenities-section {
    background: #9D948B;
    color: black;
    padding: 50px 0 50px 0px; 
}

.amenities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px
}

.amenity-image {
    width: 5em;
    height: 5em;
    object-fit: contain;
    margin-bottom: 10px;
}

.amenities .amenity-image {
    width: 6em;
    height: 6em;
    object-fit: contain;
    margin-bottom: 20px;
}

.amenity-text {
    color: black;
    font-size: 1.25em;
}

.park-features-section {
    background: #E8E5E0;
    padding: 100px 0px 100px 0px; 
}

.park-parking-image {
    padding: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .park-parking-image {
        padding: 10px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.coming-soon-container {
    width: 120%;
    height: 100%;
    background: #b5a194;
    opacity: 0.85;
    position: absolute;
    left: 20%;
    z-index: 100;
    padding: 30px 100px 30px 100px;
    color: white !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width: 768px) {
    .coming-soon-container {
        width: 120%;
        height: 100%;
        min-height: 75vw;
        max-height: 100%;
        background: #b5a194;
        opacity: 0.85;
        position: absolute;
        left: 0;
        z-index: 100;
        padding: 15px 10px 15px 10px;
        color: white !important;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
  }


.coming-soon-intro {
    font-weight: 500;
    font-size: 1.5em;
    color: white;
}

.coming-soon-text {
    font-weight: 500;
    font-size: 3em;
    color: white;
}

.park-features-section .feature-text {
    padding: 2.5em 0px 2.5em 0px;
    font-size: 1.3em;
}

.park-features-section .feature-image {
    width: 4em;
    height: 4em;
    object-fit: contain;
    margin-bottom: 1.25em;
}

.align-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left-border {
    border-left: 2px solid #5D5855;
}

.right-border {
    border-right: 1px solid #5D5855;
}

.bottom-border {
    border-bottom: 1px solid #5D5855;
}

.top-border {
    border-top: 1px solid #5D5855;
}

@media (max-width: 500px) {
    .left-border {
        border: unset;
    }
    
    .right-border {
        border: unset;
    }
    
    .bottom-border {
        border: unset;
    }

    .payments .title.bottom-border {
        border-bottom: 1px solid #5D5855;
    }
    
    .top-border {
        border: unset;
    }

    .payment-plan-card {
        .left-border {
            border-left: 2px solid #5D5855;
        }
        
        .right-border {
            border-right: 1px solid #5D5855;
        }
        
        .bottom-border {
            border-bottom: 1px solid #5D5855;
        }
        
        .top-border {
            border-top: 1px solid #5D5855;
        }
    }
}

.payment-section {
    padding: 5em 0 5em 0;
    color: black;
    text-align: center;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.plot-card {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 1.5em;
    margin-top: 1.5em;
    min-height: 350px;
    position: relative;
}

// @media (max-width:768px) and (min-width:501px) {
@media (max-width: 767px ) {
    .plot-card {
        min-height: 250px;
    }
}

.plot-card .learn-more {
    position: absolute;
    bottom: 0;
    background: #5D5855;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 3.5em;
}

.plot-card .plot-image {
    width: 6em;
    height: 6em;
    object-fit: contain;
    margin-bottom: 10px;
}

.footer-logo-section {
    background: #9D948B;
    // padding: 20px 0 20px 0;
    color: white;
}

.footer-logo-section .footer-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


//about us page styles

.about-us {
    .title {
        color: #5D5855;
    }
    .detail {
        color: #5D5855;
        font-size: 1.25em;
    }
    .dark-bg {
        background: #5D5855;
        padding: 40px;
    }
    .light-bg {
        background: #B5A194;
        padding: 40px;
        color: white;
    }
    .about-image {
        min-height: 400px;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
    }
}

.dark-bg .detail {
    color: white !important;

}

.light-bg .detail {
    color: white !important;
}


//project map page styles

.map-legend {
    // box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.project-map {
    width: 100%;
    height: 600px;
    object-fit: contain;
    margin-bottom: 30px;
}

.print-btn {
    // max-height: 40px;
    border-radius: 0;
}

//contact us page styles

.contact-us {
    padding-top: 70px;
    .title {
        color: #5D5855 !important;
    }
    .color-white {
        color: white !important;
    }
}

//amenities

.amenities.section {
    color: #5D5855 !important;
}
.amenities.section .amenity-text {
    color: #5D5855 !important;
}
.amenities {
    .title {
        color: #5D5855 !important;
    }
    .amenities-container {
        min-height: 500px;
    }
    .amenity-gradient {
        margin: 2em 0 2em 0;
        min-height: 200px;
        background: #5D5855;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #D3CBB8, #5D5855);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #D3CBB8, #5D5855); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
}

@media (min-width: 768px) {
    .amenities .amenities-container {
        min-height: 300px !important;
    }
}

//payment page styles
.payments.section .title {
    color: #5D5855 !important;
}
.payment-plan-card {
    width: 100%;
    min-height: 300px;
    background: #f5f5f5;
    border: 3px solid #b5a194;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

    .plot-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

.payment-plan-print {
    padding: 20px 10px 0 10px;
}

.payment-plan-buttons-container {
    padding-bottom: 20px;
}

.payment-plan-card button {
        color: white;
        padding: 0;
        font-size: 0.875rem;
        min-width: 0;
        min-height: 36px;
        font-weight: 500;
        line-height: 1.75;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        background-color: #B5A194;
        border: none;
        height: 48px;
        padding: 0 16px;
        min-width: 48px;
        min-height: auto;
        border-radius: 24px;
}

.payment-plan-card button:active,
.payment-plan-card button:hover {
    color: white;
    text-transform: uppercase;
    background-color: #B5A194 !important;
    border: none;
}

.monthly-payment-container {
    background: #E8E5E0;
    padding: 15;
    overflow: scroll;
}

.monthly-payemnt-table {
    text-align: center;
}

.monthly-payemnt-table th {
    background: black;
    color: white;
    padding: 25px;
    font-size: 1.25em;
}

.monthly-payemnt-table td {
    padding: 15px;
    font-weight: 500;
  }

.monthly-payemnt-table  th, td {
    border: 2px solid white;
    border-collapse: collapse;
  }

.monthly-payemnt-table tr {
    background: #9D948B;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

.monthly-payemnt-table tr:nth-child(even) {
    background-color: #5D5855;
    color: white !important;
  }

  table {
    border-collapse: collapse;
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }
//gallery page styles

.gallery .image-gallery {
    padding-top: 55px;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 60px !important;
    width: 60px !important;
}

.image-gallery-slide .image-gallery-image {
    width: 100%;
    // height: 100vh !important;
    // object-fit: cover !important;
    // max-height: unset !important;
}

@media (min-width: 768px) {
    .image-gallery-slide .image-gallery-image {
        width: 100%;
        height: calc(100vh - 55px) !important;
        object-fit: cover !important;
        max-height: unset !important;
    }
}  

.main .carousel.inactive {
    // filter: brightness(0.6),
    opacity: 0.5;
}

.main .carousel.active {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.view-society .flyer-container {
    position: relative;
}

.view-society .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(181, 161, 148, 0.8);
    overflow: hidden;
    min-height: 100%;
}

.flyer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-society .overlay-button {
    color: #B5A194;
    width: 120px;
    height: 56px;
    padding: 0;
    font-size: 0.875rem;
    min-width: 0;
    min-height: 36px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background-color: white;
    border-color: #B5A194;
    // width: auto;
    height: 48px;
    padding: 0 16px;
    min-width: 48px;
    min-height: auto;
    border-radius: 24px;
    z-index: 99;
    opacity: 1;
}

.ReactModal__Overlay {
    z-index: 1031 !important;
}

body.ReactModal__Body--open {
    overflow: hidden;
}

.project-details {
    padding-top: 70px;

    .title {
        color: #5D5855 !important;
    }
    .heading {
        padding: 5px;
        background-color: #B5A194;
        color: white;
        font-weight: 500;
        font-size: 1.75em;
    }
    .section-light {
        background: #f5f5f5;
        padding: 15px;
    }
    .plot-card {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        text-align: center;
        padding-top: 20px;
        margin: 20px 20px 30px 20px;
        min-height: 250px;
        position: relative;
    }
    @media (max-width: 768px) {
        .plot-card {
            margin: 0;
            margin-bottom: 30px;
            min-height: 200px;
        }
    }    
    .detail {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: -20px;
        color: black;
        text-align: center;
        min-height: 50px;
        right: 15px;
        left: 15px;
    }
    ul .list-detail {
        padding-inline-start: 16px !important;
        font-size: 1.25em;
        color: #5D5855 !important;
    }
    ul {
        padding-inline-start: 18px !important;
    }
    .carousel-arrow-btn {
        width: 32px;
        height: 32px;
        padding: 0;
        font-size: 16px;
        border-radius: 50%;
        border: unset;
        background: transparent;
        
        .left {
            margin-top: 5px;
            margin-right: 3px;
        }
        .right {
            margin-top: 5px;
            margin-left: 4px;
        }
    }

    .project-carousel {
        max-width: 320px;
        margin: 0 auto;
      }
}