.footer{
    padding: 20px 0 20px 0;
    background: #B5A194 !important;
    color: white !important;
}
.footer .border-right {
    border-right: 1px solid white;
}
.footer-card {
    padding: 30px 0 0px 0;
    min-height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px) {
    .footer .border-right {
        border-right: unset !important;
    }
    .footer-card {
        min-height: 100px;
    }
  }

.footer {
    .title{
        color: white !important;
    }
    .footer-icon {
        margin-top: 30px;
        width: 36px;
        height: 36px;
        object-fit: contain;
        margin-bottom: 30px;
    }
}
